<!-- app/views/jira_filters/index.html.erb -->
<h1>JIRA Filters</h1>

<% if @filters.present? %>
  <ul>
    <% @filters.each do |filter| %>
      <li>
        <strong><%= filter.name %></strong>: <%= filter.description %>
        <%= link_to 'View Issues', jira_filter_path(filter.id) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No filters found.</p>
<% end %>

<% if @error.present? %>
  <p style="color: red;"><%= @error %></p>
<% end %>
