<h1>My Jira Issues</h1>

<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Key</th>
      <th>Summary</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.key, jira_issue_path(issue.key) %></td>
        <td><%= issue.fields['summary'] %></td>
        <td><%= issue.fields['status']['name'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
